footer {
    color: white;
    background: rgb(14, 14, 14) !important;
}

body {
    background-color: whitesmoke;
    /*background: linear-gradient(rgba(29, 30, 37, 0.65), rgba(26, 28, 39, 0.65)), rgba(0, 0, 0, 0.55) url("../assets/img/flowers-4032775.png") no-repeat;*/
}

footer strong {
    color: turquoise;
}

footer a {
    color: turquoise;
}

.title {
    color: #E6BE8A;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

.hero-body .container .quote {
    color: black;
    font-weight: 800;
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    
}


hr.content-divider {
    max-width: 75px;
    height: 5px;
}

.navbar.navigate {
    background-color: rgba(0, 0, 0, 0.80);
}

.hero.header {
    background: linear-gradient(rgba(29, 30, 37, 0.65), rgba(26, 28, 39, 0.65)), rgba(0, 0, 0, 0.55) url(https://source.unsplash.com/featured/?stylist) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /*font-family: 'Poppins', sans-serif;*/
}

.hero-body .container .title {
    font-family: Georgia, serif;
    /*transform: rotate(-5deg);*/
    font-size: 5rem;
    color: #E6BE8A;
}

.hero .subtitle {
    padding: 5px;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#parallax-0 {
    background: url(https://source.unsplash.com/featured/?stylist);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-0 hr {
    background: #CD853F;
}

#parallax-1 {
    background: url(https://source.unsplash.com/featured/?salon);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-1 hr {
    background: #CD853F;
}

#parallax-2 {
    background: url(https://source.unsplash.com/featured/?venue);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-2 hr {
    background: #CD853F;
}

#parallax-3 {
    background: url(https://source.unsplash.com/featured/?cosmetics);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-3 hr {
    background: #CD853F;
}

#parallax-4 {
    background: url(https://source.unsplash.com/featured/?men);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-4 hr {
    background: #CD853F;
}

.label {
    color: white;
}

input {
    background: transparent !important;
    border: 1px solid turquoise !important;
    color: white !important;
}

input::placeholder {
    color: white !important;
}


/* Map */
.map {
    height: 30rem;
}

@media (max-width: 992px) {
.map {
    height: 75%;
}
}

.map iframe {
    pointer-events: none;
}

.map iframe {
    height: 100%;
    width: 100%;
    border: 0;
}