footer {
    color: white;
    background: rgb(14, 14, 14) !important;
}

body {
    background-color: whitesmoke;
    /*background: linear-gradient(rgba(29, 30, 37, 0.65), rgba(26, 28, 39, 0.65)), rgba(0, 0, 0, 0.55) url("../assets/img/flowers-4032775.png") no-repeat;*/
}

footer strong {
    color: turquoise;
}

footer a {
    color: turquoise;
}

.title {
    color: white;
    font-weight: 800;
    font-size: 4rem;
    font-family: 'Nunito Sans', sans-serif;
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}

hr.content-divider {
    max-width: 75px;
    height: 5px;
}

.navbar.navigate {
    background-color: rgba(0, 0, 0, 0.80);
  }

.hero.header {
    background: linear-gradient(rgba(29, 30, 37, 0.65), rgba(26, 28, 39, 0.65)), rgba(0, 0, 0, 0.55) url(https://source.unsplash.com/featured/?men) no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /*font-family: 'Poppins', sans-serif;*/
}

.hero-body .container .title {
    font-family: Georgia, serif;
    /*transform: rotate(-5deg);*/
    font-size: 5rem;
    color: #E6BE8A;
}

.hero .subtitle {
    padding: 5px;
    color: black;
    font-size: 1.2rem;
    text-transform: uppercase;
}

#parallax-0 {
    background: url(https://source.unsplash.com/featured/?stylist);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-0 hr {
    background: #CD853F;
}

#parallax-1 {
    background: url(https://source.unsplash.com/featured/?salon);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-1 hr {
    background: #CD853F;
}

#parallax-2 {
    background: url(https://source.unsplash.com/featured/?venue);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-2 hr {
    background: #CD853F;
}

#parallax-3 {
    background: url(https://source.unsplash.com/featured/?cosmetics);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-3 hr {
    background: #CD853F;
}

#parallax-4 {
    background: url(https://source.unsplash.com/featured/?men);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #CD853F;
}

#parallax-4 hr {
    background: #CD853F;
}

.label {
    color: white;
}

input {
    background: transparent !important;
    border: 1px solid turquoise !important;
    color: white !important;
}

input::placeholder {
    color: white !important;
}


/* Map */
.map {
    height: 30rem;
}

@media (max-width: 992px) {
.map {
    height: 75%;
}
}

.map iframe {
    pointer-events: none;
}

.map iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

.catalog{
    align-items: center;
    min-height: 50rem;
    min-width: 50rem;
}

.pdfobject-container { 
    height: 45rem;
    border: 1rem solid rgba(0,0,0,.1); 
}

/**************************************/

@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css');

.item-slide {
  box-sizing: border-box;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: rgba(0,0,0,0);
  width: 90%;
  top: 2rem;
  /*max-width: 1200px;*/
  /*max-height: 700px;*/
  overflow: hidden;
  text-align: center;
}

.modal img {
  height: 100vh;
}

.item-slide{
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 0;
  top: 0;
}

.item-slide img {
  max-width: 1200px;
}

.caption-container {
  color: white;
}

.column img{
  margin-top: 20px;
}

.modal-close {
    right: 50px;
    top: 70px;
}